.form-control{
    font-family: Tajawal , 'sans-serif'  !important;
}
html, body{
    font-size: 15px;
}
.table th{
    font-weight: 600;
}
.my-overly{
    position: absolute;
    display: block;
    z-index: 0;
    background: rgba(0,0,0,0.5);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.table td{
    font-weight: 500;
}
.m-badge--gold{
    color: #fff;
    background-color: #ffd700;
}
.m-dropdown.m-dropdown--align-center .m-dropdown__wrapper{
    right: auto;
    left: 50%;
}
.my-profile .m-nav.m-nav--hover-bg .m-nav__item>.m-nav__link{
    padding: 12px 15px;
}
.profile-btn-option .btn.m-btn--custom{
    padding-left: 4px;
    padding-right: 4px;
}
 .infoBox {
     -webkit-animation: fadeIn 0.9s;
     animation: fadeIn 0.9s;
     padding-right: 50px;
 }

.cluster-visible {
    text-align: center;
    font-size: 15px !important;
    color: #fff !important;
    font-weight: 500;
    border-radius: 50%;
    width: 36px !important;
    height: 36px !important;
    line-height: 36px !important;
    background-color: #fc5b62;
}

.cluster-visible:before {
    border: 7px solid #fc5b62;
    opacity: 0.2;
    box-shadow: inset 0 0 0 4px #fc5b62;
    content: '';
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: cluster-animation 2.5s infinite;
}

.infoBox > img {
    position: absolute !important;
    right: 60px !important;
    top: 10px !important;
    z-index: 9999;
    width: 20px;
    height: 20px;
    display: block;
    cursor: pointer;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.marker_info {
    width: 240px;
    height: 150px;
    border-radius: 5px;
    text-align: right;
    background: white;
    position: relative;
    z-index: 999;
    font-family: "Poppins", Helvetica, sans-serif;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
}

.marker_info img {
    display: block;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.marker_info h3 {
    font-size: 1rem;
    line-height: 1.1;
    font-weight: 500;
    margin-bottom: 3px;
    font-family: Tajawal;
    color: #444;
}

.marker_info em {
    display: inline-block;
    font-size: 0.75rem;
    font-family: Tajawal;
    color: #999;
}

.marker_info span {
    display: block;
    padding: 35px 20px 0 20px;
    font-size: 0.8125rem;
    line-height: 1.2;
    color: #fff;
    position: relative;
}

.marker_info span strong {
    display: block;
    font-weight: 500;
}

.marker_info:after {
    right: 100%;
    top: 56%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-right-color: white;
    border-width: 12px;
    margin-top: -12px;
}

a.btn_infobox_detail {
    position: absolute;
    top: 35px;
    left: 15px;
    width: 20px;
    height: 20px;
}

a.btn_infobox_detail i {
    color: #0054a6;
    font-size: 16px;
    transition: all ease-in-out 0.3s;
    transform: scale(1);
}
a.btn_infobox_detail:hover i{
    transform: scale(1.1);
}

a.btn_infobox_detail:before:hover {
    color: #fc5b62;
}

.btn_infobox_get_directions, a.btn_infobox_phone {
    border: none;
    display: inline-block;
    font-weight: 500;
    color: #fc5b62;
    background: none;
    cursor: pointer;
    font-size: 0.8125rem;
    position: relative;
    margin-bottom: 10px;
    font-family: 'Cairo', sans-serif;
    outline: none;
    padding: 0;
}

#pac-input {
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
    direction: rtl;
    max-width: 65%;
    font-family: 'Cairo', sans-serif;
    margin-top: 10px;
}
.btn_infobox_get_directions:focus, a.btn_infobox_phone:focus {
    outline: none;
}

.btn_infobox_get_directions:hover, a.btn_infobox_phone:hover {
    color: #333;
}

span.infobox_rate {
    display: inline-block;
    margin: -44px -20px 0 0;
    float: right;
    background-color: #0054a6;
    font-family: 'Cairo', sans-serif;
    padding: 5px 8px;
    font-weight: 500;
    text-align: left;
    font-size: 0.75rem;
}
#myLocation{
    margin: 10px;
    height: 40px;
    width: 40px;
    background: none rgb(255, 255, 255);
    border: 0;
    cursor: pointer;
    user-select: none;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    font-size: 27px;
    color: #666;
}
#map{
    height: 400px;
}
.m-brand__logo-wrapper img{
    max-width: 145px;
}
.table td{
    vertical-align: middle;
}
.table th{
    vertical-align: middle;
}
.font-size-2{
    font-size: 17px !important;
}
.font-size-3{
    font-size: 16px;
}
.custom-file-input:lang(en) ~ .custom-file-label::after {
    content: "تصفح";
}
.m-login.m-login--1 .m-login__wrapper .m-login__form .m-form__group .form-control{
    padding: 1rem 10px;
}
.m-login__wrapper .m-login__logo a img{
    max-width: 170px;
}
.m-login.m-login--1 .m-login__aside{
    padding-bottom: 0;
}
.m-login.m-login--1 .m-login__wrapper {
    padding: 4% 2rem 2rem 2rem;
}
.m-login.m-login--1 .m-login__wrapper .m-login__logo {
    margin: 0 auto 2rem auto;
}
.dataTables_wrapper .dataTable .dropdown-menu{
    width: auto !important;

}
.user-message  .m-widget3__info{
    padding-right: 0 !important;
}
.time-clock{
    display: inline-block;
    margin-left: 5px;
}
.daterangepicker thead .fa.fa-chevron-right, .daterangepicker thead .fa.fa-chevron-left{
    transform: rotate(180deg);
}

.my-statistics .m-widget24 .m-widget24__item .m-widget24__stats{
    margin-top: -2.43rem;
}
.my-statistics .m-widget24 .m-widget24__item .progress{
    margin-top: 1.14rem;
    margin-bottom: 2rem;
}
.my-statistics .m-widget24 .m-widget24__item .m-widget24__title{
    margin-top: 2rem;
}
.m-card-profile .m-card-profile__pic img{
    max-width: 150px !important;
}
.m-portlet.m-portlet--creative .m-portlet__head .m-portlet__head-caption .m-portlet__head-label>span{
    white-space: nowrap;
}
.m-portlet.m-portlet--bordered-semi .m-portlet__head.head-h-0{
    height: 0;
}
.h-0{
    height: 0 !important;
}
.m-timeline-property .m-timeline-3 .m-timeline-3__item .m-timeline-3__item-desc .m-timeline-3__item-text{
    font-size: 16px;
    padding-top: 13px;
    padding-bottom: 13px;
    display: block;
}
.message-list li{
    margin-bottom: 10px;
}
.message-list a{
    border-radius: 8px;
    padding: 15px;
    background-color: #fbfbfb;
    display: block;
    width: 100%;
    margin-bottom: 15px;
}
.m-badge.m-badge--dot-small {
    padding: 0;
    line-height: 20px;
    min-height: 20px;
    min-width: 20px;
    height: 20px;
    width: 20px;
    border-radius: 100%;
}
.m-topbar .m-topbar__nav.m-nav>.m-nav__item>.m-nav__link .m-nav__link-badge {
    right: 50%;
    margin-right: -21px;
    position: absolute;
    top: 14px;
}
.table-small-font th{
    font-size: 13px;
    white-space: nowrap;
}
.table-small-font td{
    font-size: 14px;
}
.table-small-font .dropdown-menu-right{
    left: 40px !important;
}
.user-option{
    min-width: 190px;
}
.mb--30{
    margin-bottom: -30px;
}
.product-reviews-summary{
    margin-top: 11px;}
.restaurant-media-con .product-reviews-summary {
    margin-top: 10px;
}
.product-reviews-summary .rating-summary {
    position: relative;
}
.restaurant-media-con .rating-summary .rating-result {
    width: 139px;
}
.restaurant-media-con .rating-result {
    margin-left: 0;
}
.rating-summary .rating-result {
    margin-left: 5px;
    width: 139px;
    position: relative;
}
.restaurant-media-con .rating-summary .rating-result:before, .restaurant-media-con .rating-summary .rating-result > span:before {
    font-size: 20px;
    height: 25px;
}
.rating-summary .rating-result:before {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    font-family: 'Font Awesome 5 Free';
    font-weight: 400;
    z-index: 1;
    color: #c7c7c7;
    font-size: 24px;
    height: 27px;
    letter-spacing: 1px;
    line-height: 28px;
    content: '\f005' '\f005' '\f005' '\f005' '\f005';
    display: block;
    font-style: normal;
    speak: none;
}
.rating-summary .rating-result > span {
    display: block;
    overflow: hidden;
}
.rating-summary .rating-result > span:before {
    position: relative;
    z-index: 2;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #fea800;
    font-size: 24px;
    height: 27px;
    letter-spacing: 1px;
    line-height: 28px;
    content: '\f005' '\f005' '\f005' '\f005' '\f005';
    display: block;
    font-style: normal;
    speak: none;
}
.lg-inner {
    direction: ltr !important;
}
ul#imageGallery > li:hover{
    cursor: zoom-in;
}
.m-tabs-line.m-tabs-line--brouwn.nav.nav-tabs .nav-link:hover,
.m-tabs-line.m-tabs-line--brouwn.nav.nav-tabs .nav-link.active,
.m-tabs-line.m-tabs-line--brouwn a.m-tabs__link:hover,
.m-tabs-line.m-tabs-line--brouwn a.m-tabs__link.active {
    color: #8F5B12;
    border-bottom: 1px solid #8F5B12;
}
.no-hover:hover{
    color: transparent;
}
.state-list li span{
    background-color: #fff;
    display: block;
    border-radius: 40px;
    padding: 7px 30px 7px 15px;
    position: relative;
    font-weight: 400;
}
.state-list li span::before{
    content: '';
    position: absolute;
    right: 12px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #f4516c;
}
.state-list li.active span::before{
    background: #2ea28b;
}
.amount-group-btn .input-group-append span{
    background-color: #8F5B12 !important;
    color: #fff !important;
}
table.table-bordered.dataTable th{
    text-transform: capitalize;
}
.shadow-0{
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.m-form .form-control-feedback{
    font-size: 1rem;
}
